@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');

:root {
    --primary-color: #3B82F6;
    --light-grey: #D1D5DB;
    --off-white: #e9e8e8;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

* {
    margin: 0;
    padding: 0;
}



.navbar {
    border-bottom: 2px solid var(--light-grey);
    padding: 10px;   

}
.navbar .logo{
    font-weight: 600;
    font-size: 32px;
    margin: 1.25rem 15rem ;
}

.container{
    column-count: 2;
    padding: 50px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.container .main-heading{
    padding:6.25rem 70px  ;
    margin: 0rem 0rem 0rem 7.8125rem;
    font-size: 75px;
}
.container .inputbox{
    border: 2px solid grey;
    padding:1rem;
    border-radius: 12px;
    margin-right:10%;
    width: 30%;
    

}
.container h2{
    text-align: center;
    display: absolute;
    padding: 2rem;
}
textarea{
    width: 80%;
    padding:1rem 1rem 5rem 1rem;
    margin: 1.25rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container #btn-translate{
    
    border: 2px solid var(--light-grey);
    border-radius: 100px;
    padding: 0.625rem 1.875rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    background: none;
    
}

.output-text{
    margin: 3.125rem auto;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 900;
    font-size: 20px;
}
#outputbox{
    border: 1px solid var(--light-grey);
    border-radius: 12px;
    height: 6.25rem;
    width: 80%;
    margin: 2rem auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}